<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">


    <script defer src="js/fontawesome-all.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
   <script src="js/scripts.js"></script>
   <link rel="shortcut icon" type="image/png" href="icons/favicon.ico"/>
    <title>League Checker!</title>
  </head>
  <body ng-app="leagueCheckApp" ng-controller="leagueCheckCtrl" ng-cloak>


      <div class="row">
        <div class="col s12">
            <h1 class="center-align">
              {{caption}}
            </h1>
        </div>
      </div>



      <div class="row" ng-show="!hideInput">
        <div class="col hide-on-small-only m2 l2 xl3"></div>
        <div class="input-field col s6 m4 l4 xl4">
            <form ng-submit="searchFunc()">
                <input type="text" name="summonerName" class="form-control" ng-model='summonerName' placeholder="Summoner name">
            <form>
        </div>


        <div class="input-field col s2 m2 l2 xl1">
          <form>
            <select ng-model="server">
              <option value="na1">NA</option>
              <option value="eun1">EUNE</option>
              <option value="euw1">EUW</option>
              <option value="ru">RU</option>
              <option value="kr">KR</option>
              <option value="br1">BR</option>
              <option value="oc1">OC</option>
              <option value="jp1">JP</option>
              <option value="tr1">TR</option>
            </select>
          </form>
        </div>

        <div class="input-field col s4 m4 l4 xl4">
          <a ng-click="searchFunc();" class="waves-effect waves-light btn">search</a>
        </div>
      </div>




<div class="container" ng-show="!hideMessage">
    <div class="row">
      <div class="col s12">
          <h4 class="center-align">
            {{message}}
          </h4>
      </div>
    </div>
</div>

<div class="container" ng-show="!hideLoading">
    <div class="row">
      <div class="col s12">
          <h4 class="center-align">
            <i class="fas fa-spinner fa-pulse fa-2x"></i>
          </h4>
      </div>
    </div>
</div>

<div class="" ng-show="!hideTable">
  <div class="row">
    <div class="col s12 m10 l8 offset-m1 offset-l2">
      <table class="striped">
        <thead>
          <th>Blue Team
          </th>
          <th>Summoner Name</th>
          <th>Rank</th>
          <th ng-show="draft">Ban</th>
        </thead>
        <tbody>
          <tr ng-repeat="x in match.participants | filter:{teamId: 100}">
            <td>{{x.championName}}</td>
            <td>{{x.summonerName}}</td>
            <td>{{x.tier}} {{x.rank}} {{x.summonerNameCheck}}</td>
            <td ng-show="draft">{{match.bannedChampions[$index].championName}}</td>
          </tr>
        </tbody>
        <thead>
          <th>Red Team</th>
          <th>Summoner Name</th>
          <th>Rank</th>
          <th ng-show="draft">Ban</th>
        </thead>
        <tbody>
          <tr ng-repeat="x in match.participants | filter:{teamId: 200}">
            <td>{{x.championName}}</td>
            <td>{{x.summonerName}}</td>
            <td>{{x.tier}} {{x.rank}} {{x.summonerNameCheck}}</td>
            <td ng-show="draft">{{match.bannedChampions[$index + 5].championName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>



  </body>
</html>
